# What is the difference between tuple and list.
# Tuple is immutable(cannot change) whereas list is mutable(change)
# Tuple is much faster as comprable to list
## Tuple () whereas list []

In [13]:
l=[1,3,7,9]
type(l)

list

In [14]:
l[1]=9
l

[1, 9, 7, 9]

In [16]:
t=(1,8,9)
#t[1]=3
t

(1, 8, 9)

# Given a list of numbers containing the duplicates, remove the duplicate elements from the list.
## list2 = [1, 2, 4, 2, 5, 7, 5, 8, 12, 7]
## expected output = [1, 2, 4, 5, 7, 8, 12]

In [17]:
list2 = [1, 2, 4, 2, 5, 7, 5, 8, 12, 7]

def remo_dup(list2):
  return(list(set(list2)))
print(remo_dup(list2))

[1, 2, 4, 5, 7, 8, 12]

# Given a string, reverse it.

In [18]:
s1="munai"
def rev_str(s1):
  return s1[::-1]
rev_str(s1)

'ianum'

# Given a string, check whether the string is palindromic or not.

In [22]:
s1='momo'
def pal_str(s1):
  return s1==s1[::-1]
print(pal_str(s1))

False

# Difference between shallow copy and deep copy

In [25]:
##shallow copy
import copy
l1=[[1,2,3],[4,5,6]]
l2=copy.copy(l1)
l2[0][2]=10
l1

[[1, 2, 10], [4, 5, 6]]

In [26]:
l2

[[1, 2, 10], [4, 5, 6]]

In [28]:
##deep copy
l3=copy.deepcopy(l1)
l3[0][1]=20
l1

[[1, 2, 10], [4, 5, 6]]

# How do you handle exceptions in Python?

In [29]:
try:
  x=1/0
except ZeroDivisionError:
  print("You can't divide by zero")

You can't divide by zero

# What is lambda functions in Python

In [31]:
add=lambda a,b: a+b
print(add(2,3))

5

# What is list comprehension in Python

In [32]:
squ=[x**2 for x in range(10)]
print(squ)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Count the number of times a particular character appears in a string

In [36]:
str="munaiiii"
def  count_char(str,ch):
  return str.count(ch)
print(count_char(str,'i'))

4

# Given two sorted list, merge both of them and create another sorted list.

In [37]:
list1 = [1, 3, 7]
list2 = [2, 5, 6]
sorted_list=sorted(list1+list2)
sorted_list
## expected output = [1, 2, 3, 5, 6, 7]
## write your own code
## approach 1: sorted(list1 + list2

[1, 2, 3, 5, 6, 7]