# Python program 30 : Write a Python function to multiply all the numbers in a list

In [3]:
def mul(num):
  a=1
  for i in num:
    a=a*i
  return a
print(mul([5,2,10,5]))

500

# Python Program : 29 Write a Python function to calculate the factorial

In [ ]:
def fac(num):
  if num==0:
    return 1
  else:
    return num*fac(num-1)
num=int(input("Enter the number :"))
print(fac(num))

Enter the number :5
120

# Python program 28 Python program to create the multiplication table (from 1 to 10) of a number

In [ ]:
num=int(input("Enter the number for multiplication "))
for i in range(1,11):
  print(num,'x',i,"=",num*i)

Enter the number for multiplication 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [ ]:
def print_multiplication_table(num):
  for i in range(1,11):
    print(num,'x',i,"=",num*i)
num=int(input("Enter the number of multiplication"))
print_multiplication_table(num)

Enter the number of multiplication1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

# Python program 27 : Python program to check whether an alphabet is a vowel or consonant

In [ ]:
letter=input("Enter a character to check :")
if letter=='a'or letter=='e' or letter=='i' or letter=='o' or letter=='u':
  print(f'{letter} is a vowel')
else:
  print(f"{letter} is consonent")

Enter a character to check :m
m is consonent

In [ ]:
def check_vowel_consonent(letter):
  if letter.lower() in['a','e','i','o','u']:
    return f"{letter} is vowel"
  else:
    return f"{letter} is consonent"
letter=input("Enter to check ")
result=check_vowel_consonent(letter)
print(result)

Enter to check m
m is consonent

# Python program 26 program that accepts a string and calculate the number of digits and letters

In [ ]:
def count_digit_letters(string):
  digit_count=0
  letter_count=0
  for char in string:
    if char.isdigit():
      digit_count+=1
    elif char.isalpha():
      letter_count+=1
  return digit_count,letter_count
input_string=input("Enter a string ")
digits,letters=count_digit_letters(input_string)
print('number of digits',digits)
print('number of letters',letters)

Enter a string python768
number of digits 3
number of letters 6

# Python program 25 :Python program to count number of even and odd numbers from a series of numbers.

In [ ]:
def count_even_odd(numbers):
  even_num=0
  odd_num=0
  for num in numbers:
    if num%2==0:
      even_num+=1
    else:
      odd_num+=1
  return even_num,odd_num
numbers=[1,2,3,4,5,6,7,8,9,10]
even,odd=count_even_odd(numbers)
print("even numbers",even)
print("odd numbers",odd)

even numbers 5
odd numbers 5

# Python program : 24 Python program that accepts a word from the user and reverse it.(3 ways to solve)

In [ ]:
#1st way
def reverse_word(word):
  reverse_word=""
  for char in word:
    reverse_word=char+reverse_word
  return reverse_word
user_input=input("Enter the word :")
reversed_input=reverse_word(user_input)
print("After reversing word",reversed_input)

Enter the word :python
After reversing word nohtyp

In [ ]:
#2nd way
def reverse_word(word):
  reversed_word=word[::-1]
  return reversed_word
user_input=input("Enter a string :")
rev_word=reverse_word(user_input)
print("After reversing :",rev_word)

Enter a string :coding
After reversing : gnidoc

In [ ]:
#3rd way
def rev_word(word):
  reverse_word=""
  word_length=len(word)
  for i in range(word_length-1,-1,-1):
    reverse_word+=word[i]
  return reverse_word
user_input=input("Enter a string :")
reversed_word=rev_word(user_input)
print("After reversing final string :",reversed_word)

Enter a string :munai
After reversing final string : ianum

# Python program 23 find those numbers which are divisible by 7 and multiple of 5 between 1500 and 2700

In [ ]:
#without using function
a=[]
for i in range(1500,2701):
  if (i%7==0)and(i%5==0):
    a.append(str(i))
print(a)

['1505', '1540', '1575', '1610', '1645', '1680', '1715', '1750', '1785', '1820', '1855', '1890', '1925', '1960', '1995', '2030', '2065', '2100', '2135', '2170', '2205', '2240', '2275', '2310', '2345', '2380', '2415', '2450', '2485', '2520', '2555', '2590', '2625', '2660', '2695']

In [ ]:
#with using function
def find_numbers():
  numbers=[]
  for num in range(1500,2701):
    if num%7==0 and num%5==0:
      numbers.append(num)
  return numbers
result=find_numbers()
print('Numbers divisible by 7 and multiply by 5 between 1500 and 2701 ')
print(result)

Numbers divisible by 7 and multiply by 5 between 1500 and 2701
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

# Python program 22 : Python program to select the odd items of a list.

In [ ]:
def select_odd_items(lst):
  odd_items=[]
  for item in lst:
    if item%2!=0:
      odd_items.append(item)
  return odd_items
my_list=[1,2,3,4,5,6,7,8,9,10]
result=select_odd_items(my_list)
print(result)

[1, 3, 5, 7, 9]

# Python program 21 Fun that takes two lists and returns True if they have at least one common member.

In [ ]:
def check_number(list_1,list_2):
  final=False
  for i in list_1:
    for j in list_2:
      if i==j:
        final=True
        return final
print(check_number([1,2,3,4,5],[5,6,7,8,9]))

True

# Python program 20 Program to find the list of words that are longer than n from a given list of word

In [ ]:
def check_len(n,my_str):
  len_char=[]
  words=my_str.split(" ")
  for i in words:
    if len(i)>n:
      len_char.append(i)
  return len_char
print(check_len(3,'python is easy programming lanuage to learn'))

['python', 'easy', 'programming', 'lanuage', 'learn']

# Python Program 19 Python program to remove duplicates from a list.

In [ ]:
def remove_duplicate(input_list):
  return list(set(input_list))
input_list=[1, 2, 3, 4, 2, 1, 5, 4, 6]
result=remove_duplicate(input_list)
print(result)

[1, 2, 3, 4, 5, 6]

# Python program 18 Python program to count the number of characters (character frequency) in a string

In [ ]:
def freq(my_str):
  d1={}
  for i in my_str:
    key_d1=dict.keys(d1)
    if i in key_d1:
      d1[i]+=1
    else:
      d1[i]=1
  return(d1)
print(freq('programming'))

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

# Python program 17 : Python program to sum all the items in a list

In [ ]:
def list_add(list_1):
  a=0
  for i in list_1:
    a=a+i
  return a
print(list_add([1,2,3,4,5]))

15

# Python program 16 program to get a string where first char have been changed to '$'.

In [ ]:
def replace_char(a):
  b=a[0]
  a=a.replace(b,'$')
  a=b+a[1:]
  return a
print(replace_char('madam'))

mada$

# Python program15 : Python script that takes input and displays that input back in upper, lower cases

In [ ]:
def display_cases(input_string):
  print("original input",input_string)
  print("upper case",input_string.upper())
  print("lower case",input_string.lower())
user_input=input("Enter a string ")
display_cases(user_input)

Enter a string munai
original input munai
upper case MUNAI
lower case munai

# Python Program 14 :Program for checking whether a string is palindrome or not

In [ ]:
def is_palindrom(s):
  return s==s[::-1]

string=input("Enter a string ")
is_palindrom(string)

Enter a string munu

False

# python Program 13 : Check if a string has at least one letter and one number

In [ ]:
def str_check(my_str):
  a=False
  b=False
  for i in my_str:
    if i.isalpha()==True:
      a=True
    if i.isdigit()==True:
      b=True
  return a and b
print(str_check('munai89'))

True

# Python Question 12 : Compute sum of digits of a given string

In [ ]:
def sum_of_digit(string):
  digit_sum=0
  for char in string:
    if char.isdigit():
      digit_sum+=int(char)
  return digit_sum
input_string=input("Enter a string : ")
result=sum_of_digit(input_string)
print(result)

Enter a string : munai987
24

# Python Question 11: Sort a string lexicographically using python

In [ ]:
def sort_lexicographically(string):
    sorted_string = ''.join(sorted(string))
    return sorted_string

input_string = input("Enter a string: ")
result = sort_lexicographically(input_string)
print("Lexicographically sorted string:", result)

Enter a string: python
Lexicographically sorted string: hnopty

# Python Question 10: Remove the characters which have odd index values of a given string

In [ ]:
def values(str):
  a=""
  for i in range(len(str)):
    if i%2==0:
      a=a+str[i]
  return a
print(values('python'))

pto

# Python Question 09: Check whether a specified value is contained in a group of values

In [ ]:
def check(num,a):
  for value in num:
    if a==value:
      return True
  return False
print(check([1,2,3,4,5,6,7],7))

True

# Python Question 08: Print out all even numbers from a given numbers list in the same order

In [ ]:
num=[2,6,1,3,7,9,34,87,23,65,44,21,56,20,12,14,35,67,31,62,34]
for i in num:
  if i==20:
    print(i)
    break
  elif i%2==0:
    print(i)

2
6
34
44
56
20

In [ ]:
def print_even_until_tweenty(numbers):
  for num in numbers:
    if num==20:
      print(num)
      break
    elif num%2==0:
      print(num)
num = [2, 6, 1, 3, 7, 9, 34, 87, 23, 65, 44, 21, 56, 20, 12, 14, 35, 67, 31, 62, 34]
print_even_until_tweenty(num)

2
6
34
44
56
20

# Python Question 07 : Program to count the number 2 in a given list

In [ ]:
def count_2(num):
  a=0
  for i in num:
    if i==2:
      a=a+1
  return a
print(count_2([1,3,4,2,5,2,7,4,2]))

3

# Python Question 06: Calculate number of days between two dates

In [ ]:
from datetime import date
date1=date(2021,7,12)
date2=date(2021,7,23)
total_days=date2-date1
print(total_days)

11 days, 0:00:00

# Python Question 05: Compute the greatest common divisor (GCD) of two positive integers

In [4]:
def cal_gcd(a,b):
  num=1
  if a%b==0:
    return b
  for i in range(int(b/2),0,-1):
    if a%i==0 and b%i==0:
      num=i
      break
  return num
print("gcd of 20 and 28 is",cal_gcd(20,28))

gcd of 20 and 28 is 4

# Python Question 04: Get the diffrence between number and 20, if greater than 20 return three time

In [6]:
def diff(a):
  if a<20:
    print(20-a)
  else:
    b=a-20
    print(b*b*b)
diff(25)

125

# Python Question 03: Accept the user's first and last name and display them in reverse

In [9]:
def name_reverse(first_name,last_name):
  print(last_name + " "+first_name)
first_name=input("Enter the first name :")
last_name=input("Enter the last name :")
name_reverse(first_name,last_name)

Enter the first name :munai
Enter the last name :das
das munai

#Python Question 02 : Python Program to Calculate Circle Area Based on User Input of Radius

In [11]:
def area_circle(r):
  area=3.14*r*r
  print(area)
r=float(input("Enter the radius :"))
area_circle(r)

Enter the radius :12
452.15999999999997

# Python Practice 01 : Python Program to Display Current Date and Time | Shambhavi Gupta

In [13]:
import datetime
present =datetime.datetime.now()
print('current datetime is ')
print(present.strftime("%y-%m-%d %h:%m:%s" ))

current datetime is
23-06-26 Jun:06:1687805400